* {
    margin: 0%;
    padding: 0%;
}

header{
    background-color: #97908a;

}

.cabecera {
    width: 1000px;
    margin: 0 auto;
}

.titulo {
    color: white;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 60px;
    font-size: 40px;
} 

#menu {
    width: 940px;
    background-color: #4d4c4a;
    margin: 0 auto;

}

#menu a{
    color: #65b025;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
}

.active {
    background-color: black;
    color: white;
}

li {
    display: inline-block;
    padding: 17px;
} 
#menu .active a {
    color: white;
}

ul{
    padding-left: 24px;
} 

main{
    background-color:  #7a756f;

}

.imagen {
    width: 940px;
    height: 300px;
    margin: 0 auto;
    background-image: url(https://wallpapercrafter.com/th8002/745534-anime-anime-girls-Clay-Nier-Automata-2B-Nier.jpg);
    background-size: 940px 300px;
    
}

