* {
    margin: 0;
    padding: 0;
}

header{
    background-color: #97908a;

}

.cabecera {
    width: 1000px;
    margin: 0 auto;
}

.titulo {
    color: white;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 60px;
    font-size: 40px;
} 

#menu {
    width: 940px;
    background-color: #4d4c4a;
    margin: 0 auto;

}

#menu a{
    color: #65b025;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
}

.active {
    background-color: black;
    color: white;
}

li {
    display: inline-block;
    padding: 17px;
} 
#menu .active a {
    color: white;
}

ul{
    padding-left: 24px;
} 

main{
    background-color:  #7a756f;

}

.imagen {
    width: 940px;
    height: 300px;
    margin: 0 auto;
    background-image: url(https://wallpapercrafter.com/th8002/745534-anime-anime-girls-Clay-Nier-Automata-2B-Nier.jpg);
    background-size: 940px 300px;
    
}

.caja {
    width: 940px;
    margin: 0 auto;
    padding: 30px;
}

.caja2 {
    width: 240px;
    float: left;
    margin: 0px;
    padding: 0px 30px 30px 0px;
}

.caja3 {
    width: 640px;
    float: right;
}

.encabezado {
    padding: 0px 0px 35px 0px;
    color: #65b025;
    font-size: 30px;
    font-family: arial;
}

.encabezado2 {
    padding: 100px 0px 35px 0px;
    color: #65b025;
    font-size: 30px;
    font-family: arial;
}

.subtitulo {
    font-size: 17px;
    padding: 10px 0px  10px 0px;
    border-bottom-style: inset;
    border-bottom-color: #818181;
    color: black;
}

.subtitulo1 {
    font-size: 17px;
    padding: 10px 0px  10px 0px;
    border-bottom-style: inset;
    border-bottom-color: #818181;
    color: black;
}

.post {
    margin: 0px 0px 30px 0px;
    border-bottom: 1px solid #CCCCCC;
}

.post-title {
    padding: 4px 35px 4px 15px;
    background: #000000;
    font-weight: normal;
    color: #FFFFFF;
}

.post-content {
    padding: 20px 0px;
}

.post-comment-link {
    color: #7EBA25;
    text-decoration: underline;
    padding: 0px 0px 0px 550px;
}

.post-comment-link:hover {
    text-decoration: none;
}

.footer {
    margin: 687px 0px;
    padding: 20px 0px;
    background: #000000;
    color: #686767;
}