* {
    margin: 0%;
    padding: 0%;
}

header{
    background-color: #97908a;

}

.cabecera {
    width: 1000px;
    margin: 0 auto;

}

.titulo {
    color: white;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    font-size: 40px;
} 

#menu {
    width: 940px;
    background-color: #4d4c4a;

}

#menu a{
    color: #65b025;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
}

.active a{
    color: white;
}

.active {
    background-color: black;
    color: white;
}

li {
    display: inline-block;
    padding: 17px;
} 
